<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>login</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	
	<body>
		<a href="/blog/login"><h2 class="main-title" id="other">login</h2></a>
		<div class="formfield">
		<form method="POST" action="/blog/login">
		<label>
		username<br />
		<input type="text" name="username"/>
		</label>
		<label>
		password<br />
		<input type="password" name="password"/>
		</label>
		<label>
		<input type="submit" value="login" />
		</label>
		{{error}}
		</form>
		</div>
	</body>


</html>